#about {
  background-color: rgb(9, 71, 242);
  color: white;
  text-align: center;
  border: 2px solid rgb(5, 5, 42);
  border-radius: 20px;
  justify-items: center;
}

#about-header {
  /* background-color: black; */
  border-bottom: groove 2px;
  border-right: inset 2px;
  border-top: none;
  border-left: none;
  border-radius: 15px;
  width: 35%;
  margin: 25px;
  padding: 5px;
}

#about-para1 {
  background-color: black;
  border: solid 1px;
  border-radius: 10px;
  width: 90%;
  padding: 10px;
  margin: 5px 10px 20px;
}

.about-para2 {
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 5px 25px;
}

#contact-form {
  border: 2px dashed blue;
  border-radius: 5px;
  /* justify-self: center; */
  width: 83%;
  padding: 5px;
}

.principles-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

@media screen and (max-width: 600px) {
  .principles-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

.principles-container div {
  background-color: white;
  border: 2px solid rgb(34, 34, 99);
  padding: 20px;
  border-radius: 30px;
  width: 300px;
  text-align: center;
}

.general-principles-container {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:700px) {
  .general-principles-container {
    grid-template-columns: repeat(3, max-content);
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width:350px) {
  .general-principles-container{
    grid-template-columns: repeat(2, max-content);
    gap: 2px;
  }
}

@media screen and (max-width:300px) {
  .general-principles-container {
    grid-template-columns: max-content;
    gap: 1px;
    align-items: center;
    justify-content: center;
  }
}

.general-principles-container div {
  border: 2px solid black;
  padding: 10px;
  margin: 2px;
  text-align: center;
  border-radius: 20px;
}
